*{
    margin: 0;
    padding: 0;
}

/* to ensure that the image is dark  */
header{
    background-image: linear-gradient(rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)),url(22.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* to ensure that the hyperlink appears normal */
a{
    color: #fff;
    text-decoration: none;
}

.Soon{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color:whitesmoke;
    text-align: center;
    font-family: 'Tahoma';
}

h1{
    font-size: 55px;
    letter-spacing: 8.5px;
}

hr{
    width: 50%;
    margin: 30px auto;
    border: 1.45px solid #fff;
}

p{
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Tahoma';
}

#launch{
    font-size: 40px;
    word-spacing: 20px;
}

/* END OF STYLE.CSS FILE */